<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>Coins page!</h1>
			<a class="btn btn-primary bt-lg" href="/coins/newcoin">Add New Coin</a>
			<p>Select a coin</p>
			<select id="coinSelector">
				<% Coin.forEach((coin) => { %>
				<option value="<%= coin.name %>"" id= "<%= coin.id %>" > <%= coin.name %> </option>				
				<% });%>
			</select>
			<br><a href="/">Home</a>
		</div>
	</div>
	<script type="text/javascript">
		var selectedCoin = document.getElementById("coinSelector");

		selectedCoin.addEventListener("click", (c) =>{ 
			var options = selectedCoin.querySelectorAll("option"); 
			var count = options.length; 
			showCoin(); 
		}); 

		selectedCoin.addEventListener("change", (c) =>{ 
			//console.log(selectedCoin.value + "change");
			showCoin(); 
		}) ;

		function showCoin() {
			document.getElementsByTagName("h4")[0].innerHTML= selectedCoin.value;
			document.getElementsByTagName("img")[0].src = "/logos/" + selectedCoin.value + ".png";

		}
	</script>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">			
		<div class="col-md-3 col-sm6">
			<div class="thumbnail">				
				<img src="">
				<div class="caption">
					<h4>Pick a coin to learn more about.</h4>
				</div>
			</div>
		</div>
	</div>
	<% include partials/footer %>
</div>
