<% include partials/header %>
<h1 style="text-align: center;">Cryptos Catalogue!</h1>
<div class="container">
	<h2 style="text-align: center;">Welcome to the CryptoCat website!</h2>
	<a href="/coins" style="text-align: center;">View Coins</a>
</div>

<% include partials/footer %>