<% include partials/header %>


<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create a new Coin post</h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/coins" method="POST" enctype="multipart/form-data">	
				<div class="form-group">	
					<input class="form-control" type="text" placeholder="coin name" name="name" >	
				</div>
				<div class="form-group">	
					<input class="form-control" type="text" placeholder="acronym" name="acronym" maxlength="3" minlength="3" size="3">	
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" id="description" placeholder="description">
				</div>
				<div class="form-group">
					<label class="form-control" for="icon">Choose an icon to upload(PNG)</label>
				</div>
				<div class="form-group">
					<input class="form-control" type="file" name="icon" id="icon" accept=".png" required>
				</div>
				<div class="form-group">
					<button class="btn btn-lg upload-btn btn-block">Submit!</button>
				</div>
				<a href="/">Go Back</a>
			</div>
		</form>
	</div>
	<% include partials/footer %>
</div>
