<% include partials/header %>
<section class="container">
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">	
		<div class="col-md-3 col-sm6">
			<div class="thumbnail">
				<div class="form-group row ">
					<h1><%= Coin.name%></h1><img src="<%= Coin.icon %>" alt="Bitcoin logo" style="width: 30%; height: 30%;"><br>
					<p style="padding: 20px;"><%= Coin.description%></p>
				</div>
			</div>
			<a href="/coins">Go back</a>
		</div>
	</div>
</section>

<% include partials/footer %>
