<% include ../partials/header %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<p>Cryptocurrencies are digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.</p>		
			<div class="col-sm-2">
				<a class="btn btn-primary bt-lg" href="/coins/newcoin">Add New Coin</a>
				<br><br>
				<select id="coinSelector" class="form-control">
					<option value="">Pick a coin</option>
					<% Coin.forEach((coin) => { %>
					<option value="<%= coin.name %>-<%= coin.acronym %>-<%= coin.icon%>"> <%= coin.name %> </option>				
					<% });%>
				</select>
			</div>
		</div>
	</div>

	<div id="section" style="display: none;">
		<section id="inner-section">
			<div class="row text-center" style="display: flex; flex-wrap: wrap;">			
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">				
						<img src="">
						<div class="caption">
							<h4>Pick a coin to learn more about.</h4><a href="" class="btn btn-primary" id="acronym">Coin Acronym</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/javascript">


	var selectedCoin = document.getElementById("coinSelector");
	var selectOption = document.getElementsByTagName("option");

	var setor = document.getElementById("section");	

	selectedCoin.addEventListener("change", () => { 
		showCoin(); // this works
	});

	function showCoin() {

		var name = selectedCoin.value.split("-")[0];
		var acronym = selectedCoin.value.split("-")[1];
		var icon = selectedCoin.value.split("-")[2];

		if(!name){
			var name = "pick";
			
			setor.style.display = "none";
			event.stopPropagation();

		} else {
			
			document.getElementsByTagName("h4")[0].innerHTML= name;
			document.getElementsByTagName("img")[0].src = icon;
			document.getElementById("acronym").innerHTML = "Learn more about " + acronym;
			document.getElementById("acronym").href ="/coins/" + acronym;
			setor.style.display = "block";

			event.stopPropagation();
		}
	}
</script>
<% include ../partials/footer %>
</div>
