<% include ../partials/header %>


<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create a new Coin post</h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/coins" method="POST" enctype="multipart/form-data">	
				<div class="form-group">	
					<input class="form-control" type="text" placeholder="coin name" name="name" >	

					<input class="form-control" type="text" placeholder="acronym" name="acronym" maxlength="5" minlength="3" size="3">	

					<input class="form-control" type="text" name="description" id="description" placeholder="description">

					<input class="form-control" type="text" name="video" id="video" placeholder="embeded video">

					<label class="form-control" for="icon">Choose an icon to upload(PNG)</label>
					<input class="form-control" type="file" name="icon" id="icon" accept=".png" required>
					
					<button class="btn btn-lg upload-btn btn-block">Submit!</button>
				</div>
				<a href="/">Go Back</a>
			</div>
		</form>
	</div>
	<% include ../partials/footer %>
</div>
